@font-face {
    font-family: "SANGJU Gyeongcheon Island";
    src: url(../../../font/SANGJU\ Gyeongcheon\ Island.woff);
}

@font-face {
    font-family: "NotoSerifKR-Regular";
    src: url(../../../font/NotoSerifKR-Regular.woff);
}

$color-main: white;
$color-sub: black;
$color-special: #ccc;

$font-main: "SANGJU Gyeongcheon Island";
$font-sub: "NotoSerifKR-Regular";

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px;
